KEYCLOAK_USERNAME=""
KEYCLOAK_PASSWORD=""

DATAB_BASE_NAME=""
DATABASE_PORT=5432
DATABASE_USERNAME=""
DATABASE_PASSWORD=""

REDIS_PASSWORD=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

#=========================the rest===========================
#copy the .env file from the server folder to here