ADMIN_ID=
ADMIN_SECRET=
KEYCLOAK_TOKEN_URL=
KEYCLOAK_API_URL=
DB_URL=
SCHEMA_NAME=

KEYCLOAK_ACCOUNT_LOGIN_URL=
REFRESH_TOKEN_ENDPOINT=
KEYCLOAK_PUBLIC_KEY_ENDPOINT={keycloak-server}/realms/{realm-name}/protocol/openid-connect/certs
REDIS_URL=redis://<user>:<pass>@localhost:6379/<db>